@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;

  #app {
    height: 100%;
  }
}

.fonts-raleway {
  font-family: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
