.fade-in-out {
  &-enter-active,
  &-leave-active {
    transition-delay: 500ms;
    transition: opacity 0.7s ease;
  }

  &-enter,
  &-leave-to {
    @apply opacity-0;
  }

  &-enter-to,
  &-leave {
    @apply opacity-100;
  }
}

.fullpage-wp.anim {
  transition: all 1s ease !important;
  will-change: transform;
}
